---
version: 2
interactions:
    - id: 0
      request:
        host: storm-050b6314da1346.my.salesforce.com
        headers:
            Content-Type:
                - application/json
        url: https://storm-050b6314da1346.my.salesforce.com/services/data/v64.0/ssot/data-lake-objects/sftest_dlo__dll
        method: DELETE
      response:
        body: '[{"errorCode":"INVALID_INPUT","message":"Please provide a valid recordId of type DataLakeObjectInstance or a valid developerName for a Data Lake Object."}]'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            Sforce-Limit-Info:
                - api-usage=70/441450
            X-Sfdc-Request-Id:
                - 51cfa91f3809b2d09011a7afb34b872c
        status: 404 Not Found
        code: 404
        duration: 169.16825ms
    - id: 1
      request:
        host: storm-050b6314da1346.my.salesforce.com
        body: |
            {"name":"sftest_dlo__dll","label":"sftest DLO","category":"Profile","dataLakeFieldInputRepresentations":[{"name":"id__c","label":"id__c","dataType":"Text","isPrimaryKey":"true"},{"name":"name__c","label":"name__c","dataType":"Text","isPrimaryKey":"false"}],"dataspaceInfo":null,"orgUnitIdentifierFieldName":"","recordModifiedFieldName":""}
        headers:
            Content-Type:
                - application/json
        url: https://storm-050b6314da1346.my.salesforce.com/services/data/v64.0/ssot/data-lake-objects
        method: POST
      response:
        body: '{"capabilities":{},"category":"Profile","createdDate":"2026-03-11T00:10:44.000Z","dataLakeFieldInfoRepresentation":[{"dataType":"Text","isPrimaryKey":false,"label":"KQ_id","name":"KQ_id__c"},{"dataType":"Text","isPrimaryKey":true,"label":"id__c","name":"id__c"},{"dataType":"Text","isPrimaryKey":false,"label":"name__c","name":"name__c"},{"dataType":"Text","isPrimaryKey":false,"label":"cdp_sys_SourceVersion","name":"cdp_sys_SourceVersion__c"},{"dataType":"Text","isPrimaryKey":false,"label":"Data Source","name":"DataSource__c"},{"dataType":"Text","isPrimaryKey":false,"label":"Data Source Object","name":"DataSourceObject__c"},{"dataType":"Text","isPrimaryKey":false,"label":"Internal Organization","name":"InternalOrganization__c"}],"dataSpaceInfo":[],"fields":[{"dataType":"Text","isPrimaryKey":false,"label":"KQ_id","name":"KQ_id__c"},{"dataType":"Text","isPrimaryKey":true,"label":"id__c","name":"id__c"},{"dataType":"Text","isPrimaryKey":false,"label":"name__c","name":"name__c"},{"dataType":"Text","isPrimaryKey":false,"label":"cdp_sys_SourceVersion","name":"cdp_sys_SourceVersion__c"},{"dataType":"Text","isPrimaryKey":false,"label":"Data Source","name":"DataSource__c"},{"dataType":"Text","isPrimaryKey":false,"label":"Data Source Object","name":"DataSourceObject__c"},{"dataType":"Text","isPrimaryKey":false,"label":"Internal Organization","name":"InternalOrganization__c"}],"id":"1dlWt000000nQFtIAM","label":"sftest DLO","name":"sftest_dlo__dll","namespace":"","status":"PROCESSING"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            Sforce-Limit-Info:
                - api-usage=68/441450
            X-Sfdc-Request-Id:
                - b6a8f504d7af786539578f3d5708dd27
        status: 201 Created
        code: 201
        duration: 3.072567292s
    - id: 2
      request:
        host: storm-050b6314da1346.my.salesforce.com
        headers:
            Content-Type:
                - application/json
        url: https://storm-050b6314da1346.my.salesforce.com/services/data/v64.0/ssot/data-lake-objects/sftest_dlo__dll
        method: GET
      response:
        body: '{"dataLakeObjects":[{"capabilities":{},"category":"Profile","createdDate":"2026-03-11T00:10:44.000Z","dataLakeFieldInfoRepresentation":[{"dataType":"Text","isPrimaryKey":false,"label":"KQ_id","name":"KQ_id__c"},{"dataType":"Text","isPrimaryKey":true,"label":"id__c","name":"id__c"},{"dataType":"Text","isPrimaryKey":false,"label":"name__c","name":"name__c"},{"dataType":"Text","isPrimaryKey":false,"label":"cdp_sys_SourceVersion","name":"cdp_sys_SourceVersion__c"},{"dataType":"Text","isPrimaryKey":false,"label":"Data [...]
[...]
