---
version: 2
interactions:
    - id: 0
      request:
        host: storm-050b6314da1346.my.salesforce.com
        headers:
            X-Salesforce-Partner-Name:
                - dbt_labs
        url: https://storm-050b6314da1346.my.salesforce.com/services/data/v64.0/ssot/data-transforms/flow_test_delete_transform/actions/cancel
        method: POST
      response:
        body: |-
            {
              "errors": [
                {
                  "errorCode": "NOT_FOUND",
                  "message": "Transform flow_test_delete_transform not found.If the transform is present in a non-default dataspace, search the transform in this way - [dataspace&#39;s prefix]_[transform&#39;s API name]."
                }
              ],
              "success": false
            }
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            Sforce-Limit-Info:
                - api-usage=251/441450
            X-Sfdc-Request-Id:
                - f4e015f4404821befff0839cd3ddaf12
        status: 201 Created
        code: 201
        duration: 245.24275ms
    - id: 1
      request:
        host: storm-050b6314da1346.my.salesforce.com
        headers:
            X-Salesforce-Partner-Name:
                - dbt_labs
        url: https://storm-050b6314da1346.my.salesforce.com/services/data/v64.0/ssot/data-transforms/flow_test_delete_transform
        method: DELETE
      response:
        body: |-
            [
              {
                "errorCode": "ITEM_NOT_FOUND",
                "message": "Transform flow_test_delete_transform not found.If the transform is present in a non-default dataspace, search the transform in this way - [dataspace's prefix]_[transform's API name]."
              }
            ]
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            Sforce-Limit-Info:
                - api-usage=249/441450
            X-Sfdc-Request-Id:
                - 8ed79bcd0abce688dfe5994ded8ce295
        status: 404 Not Found
        code: 404
        duration: 190.873166ms
    - id: 2
      request:
        host: storm-050b6314da1346.my.salesforce.com
        headers:
            X-Salesforce-Partner-Name:
                - dbt_labs
        url: https://storm-050b6314da1346.my.salesforce.com/services/data/v64.0/ssot/data-lake-objects/flow_test_delete__dll
        method: DELETE
      response:
        body: |-
            [
              {
                "errorCode": "INVALID_INPUT",
                "message": "Please provide a valid recordId of type DataLakeObjectInstance or a valid developerName for a Data Lake Object."
              }
            ]
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            Sforce-Limit-Info:
                - api-usage=249/441450
            X-Sfdc-Request-Id:
                - 161562c1764237fee4eadcf6ab5f5c76
        status: 404 Not Found
        code: 404
        duration: 175.852708ms
    - id: 3
      request:
        host: storm-050b6314da1346.my.salesforce.com
        body: |
            {
              "name": "flow_test_delete_transform",
              "label": "flow_test_delete_transform",
              "type": "BATCH",
              "definition": {
                "type": "DCSQL",
                "version": "1.0",
                "manifest": {
                  "nodes": {
                    "node_flow_test_delete__dll": {
                      "name": "flow_test_delete__dll",
                      "relation_name": "flow_test_delete__dll",
                      "config": {
                        "materialized": "table",
                        "writeMode": "OVERWRITE"
                      },
                      "compiled_code": "SELECT primary_key__c FROM test_all_field_types__dll"
                    }
                  }
                }
              },
              "dataSpaceName": "default"
            }
        headers:
            Content-Type:
                - application/json
            X-Salesforce-Partner-Name:
                - dbt_labs
        url: https://storm-050b6314da1346.my.salesforce.com/services/data/v64.0/ssot/data-transforms-validation
        method: POST
      response:
        body: |-
            {
              "issues": [
                {
                  "errorCode": "TARGET_DLO_NOT_FOUND",
                  "errorMessage": "Target Dlo not found.",
                  "errorSeverity": "ERROR"
                }
              ],
              "outputDataObjects": {
                "flow_test_delete_transform": [
                  {
                    "fields": [
                      {
                        "isPrimaryKey": false,
                        "name": "primary_key__c",
                        "type": "Text"
                      }
                    ],
                    "name": "flow_test_delete__dll",
                    "type": "dataLakeObject"
                  }
                ]
              }
            }
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            Sforce-Limit-Info:
                - api-usage=249/441450
            X-Sfdc-Request-Id:
                - 7618146efc99ac01922631b53f57126d
        status: 201 Created
        code: 201
        duration: 1.279136958s
    - id: 4
      request:
        host: storm-050b6314da1346.my.salesforce.com
        body: |
            {
              "name": "flow_test_delete_transform",
              "label": "flow_test_delete_transform",
              "type": "BATCH",
              "definition": {
                "type": "DCSQL",
                "version": "1.0",
                "manifest": {
                  "nodes": {
                    "node_flow_test_delete__dll": {
                      "name": "flow_test_delete__dll",
                      "relation_name": "flow_test_delete__dll",
                      "config": {
                        "materialized": "table",
                        "writeMode": "OVERWRITE"
                      },
                      "compiled_code": "SELECT primary_key__c FROM test_all_field_types__dll"
                    }
                  }
                },
                "outputDataObjects": [
                  {
                    "type": "dataLakeObject",
                    "name": "flow_test_delete__dll",
                    "label": "flow_test_delete__dll",
                    "category": "Profile",
                    "fields": [
                      {
                        "name": "primary_key__c",
                        "label": "primary_key__c",
                        "type": "Text",
                        "isPrimaryKey": true
                      }
                    ]
                  }
                ]
              },
              "dataSpaceName": "default"
            }
        headers:
            Content-Type:
                - application/json
            X-Salesforce-Partner-Name:
                - dbt_labs
        url: https://storm-050b6314da1346.my.salesforce.com/services/data/v64.0/ssot/data-transforms
        method: POST
      response:
        body: |-
            {
              "actionUrls": {
                "action": "DcSqlBatchAction",
                "cancelAction": "/services/data/v64.0/ssot/data-transforms/flow_test_delete_transform/actions/cancel",
                "refreshStatusAction": "/services/data/v64.0/ssot/data-transforms/flow_test_delete_transform/actions/refresh-status",
                "retryAction": "/services/data/v64.0/ssot/data-transforms/flow_test_delete_transform/actions/retry",
                "runAction": "/services/data/v64.0/ssot/data-transforms/flow_test_delete_transform/actions/run"
              },
              "createdBy": {
                "id": "005Wt000004lBfIIAU",
                "name": "Chase Walden",
                "profilePhotoUrl": "https://storm-050b6314da1346.file.force.com/profilephoto/005/T"
              },
              "createdDate": "2026-03-16T18:26:52.000Z",
              "creationType": "CUSTOM",
              "dataSpaceName": "default",
              "definition": {
                "manifest": {
                  "macros": {},
                  "nodes": {
                    "node_flow_test_delete__dll": {
                      "compiled_code": "SELECT primary_key__c FROM test_all_field_types__dll",
                      "config": {
                        "materialized": "table",
                        "writeMode": "OVERWRITE"
                      },
                      "name": "flow_test_delete__dll",
                      "relation_name": "flow_test_delete__dll"
                    }
                  },
                  "sources": {}
                },
                "outputDataObjects": [
                  {
                    "category": "Profile",
                    "createdDate": "2026-03-16T18:26:50.000Z",
                    "fields": [
                      {
                        "isPrimaryKey": true,
                        "keyQualifierField": "KQ_primary_key",
                        "label": "primary_key__c",
                        "name": "primary_key__c",
                        "type": "Text"
                      }
                    ],
                    "id": "0gOWt000000eIB7MAM",
                    "label": "flow_test_delete__dll",
                    "lastModifiedDate": "2026-03-16T18:26:51.000Z",
                    "name": "flow_test_delete__dll",
                    "status": "processing",
                    "type": "dataLakeObject"
                  }
                ],
                "type": "DCSQL"
              },
              "id": "1dtWt000000q5gLIAQ",
              "label": "flow_test_delete_transform",
              "lastModifiedBy": {
                "id": "005Wt000004lBfIIAU",
                "name": "Chase Walden",
                "profilePhotoUrl": "https://storm-050b6314da1346.file.force.com/profilephoto/005/T"
              },
              "lastModifiedDate": "2026-03-16T18:26:52.000Z",
              "lastRunStatus": "NONE",
              "name": "flow_test_delete_transform",
              "status": "PROCESSING",
              "type": "BATCH",
              "url": "/services/data/v64.0/ssot/data-transforms/flow_test_delete_transform"
            }
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            Sforce-Limit-Info:
                - api-usage=250/441450
            X-Sfdc-Request-Id:
                - b2a24e280e11d6b0bcb9a518dc077072
        status: 201 Created
        code: 201
        duration: 3.778575125s
[...]
    - id: 26
      request:
        host: storm-050b6314da1346.my.salesforce.com
        headers:
            X-Salesforce-Partner-Name:
                - dbt_labs
        url: https://storm-050b6314da1346.my.salesforce.com/services/data/v64.0/ssot/data-lake-objects/flow_test_delete__dll
        method: GET
      response:
        body: |-
            {
              "dataLakeObjects": [
                {
                  "capabilities": {},
                  "category": "Profile",
                  "createdDate": "2026-03-16T18:26:50.000Z",
                  "dataLakeFieldInfoRepresentation": [
                    {
                      "dataType": "Text",
                      "isPrimaryKey": false,
                      "label": "KQ_primary_key",
                      "name": "KQ_primary_key__c"
                    },
                    {
                      "dataType": "Text",
                      "isPrimaryKey": true,
                      "label": "primary_key__c",
                      "name": "primary_key__c"
                    },
                    {
                      "dataType": "Text",
                      "isPrimaryK[...]
[...]
