---
version: 2
interactions:
    - id: 0
      request:
        host: storm-050b6314da1346.my.salesforce.com
        headers:
            Content-Type:
                - application/json
        url: https://storm-050b6314da1346.my.salesforce.com/services/data/v64.0/ssot/metadata
        method: GET
      response:
        body: '{"metadata":[{"fields":[{"name":"cdp_sys_SourceVersion__c","displayName":"cdp_sys_SourceVersion","type":"STRING","businessType":"TEXT"},{"name":"ConversionRate__c","displayName":"Conversion Rate","type":"NUMBER","businessType":"NUMBER"},{"name":"CreatedById__c","displayName":"Created By ID","type":"STRING","businessType":"TEXT"},{"name":"CreatedDate__c","displayName":"Created Date","type":"DATE_TIME","businessType":"DATE_TIME"},{"name":"DataSource__c","displayName":"Data Source","type":"STRING","businessType":"TEXT"},{"name":"DataSourceObject__c","displayName":"Data Source Object","type":"STRING","businessType":"TEXT"},{"name":"DecimalPlaces__c","displayName":"Decimal Places","type":"NUMBER","businessType":"NUMBER"},{"name":"Id__c","displayName":"Currency Type ID","type":"STRING","keyQualifier":"KQ_Id__c","businessType":"TEXT"},{"name":"IsActive__c","displayName":"Active","type":"STRING","businessType":"TEXT"},{"name":"IsCorporate__c","displayName":"Corporate Currency","type":"STRING","businessType":"TEXT"},{"name":"IsoCode__c","displayName":"Currency ISO Code","type":"STRING","businessType":"TEXT"},{"name":"KQ_Id__c","displayName":"KQ_Id","type":"STRING","businessType":"TEXT"},{"name":"LastModifiedById__c","displayName":"Last Modified By ID","type":"STRING","businessType":"TEXT"},{"name":"LastModifiedDate__c","displayName":"Last Modified Date","type":"DATE_TIME","businessType":"DATE_TIME"},{"name":"SfdcOrganizationId__c","displayName":"SfdcOrganizationId","type":"STRING","businessType":"TEXT"},{"name":"SystemModstamp__c","displayName":"System Modstamp","type":"DATE_TIME","businessType":"DATE_TIME"}],"category":"Related","name":"CurrencyType_Home__dll","displayName":"CurrencyType_Home","primaryKeys":[{"name":"Id__c","displayName":"Currency Type ID","indexOrder":"1"}]},{"fields":[{"name":"cdp_sys_SourceVersion__c","displayName":"cdp_sys_SourceVersion","type":"STRING","businessType":"TEXT"},{"name":"count_lifetime_orders__c","displayName":"count_lifetime_orders__c","type":"NUMBER","businessType":"NUMBER"},{"name":"customer_id__c","displayName":"customer_id__c","type":"STRING","keyQualifier":"KQ_customer_id__c","businessType":"TEXT"},{"name":"DataSource__c","displayName":"Data Source","type":"STRING","businessType":"TEXT"},{"name":"DataSourceObject__c","d[...]
    - id: 1
      request:
        host: storm-050b6314da1346.my.salesforce.com
        body: |
            {"sql":"SELECT * FROM CurrencyType_Home__dll LIMIT 3","rowLimit":3}
        headers:
            Content-Type:
                - application/json
        url: https://storm-050b6314da1346.my.salesforce.com/services/data/v64.0/ssot/query-sql
        method: POST
      response:
        body: '{"data":[["true","005Wt0000045LMTIA2","true","005Wt0000045LMTIA2","2025-06-27T18:16:54+00:00",1.000000000000000000,2.000000000000000000,null,null,"2025-06-27T18:16:54+00:00","00DWt000008dxQDMAY","Salesforce_Home","CurrencyType","01LWt000000DRdVMAW","USD","2025-06-27T18:16:54+00:00"]],"metadata":[{"name":"IsCorporate__c","nullable":true,"type":"Varchar"},{"name":"CreatedById__c","nullable":true,"type":"Varchar"},{"name":"IsActive__c","nullable":true,"type":"Varchar"},{"name":"LastModifiedById__c","nullable":true,"type":"Varchar"},{"name":"SystemModstamp__c","nullable":true,"type":"TimestampTZ"},{"name":"ConversionRate__c","nullable":true,"precision":38,"scale":18,"type":"Numeric"},{"name":"DecimalPlaces__c","nullable":true,"precision":38,"scale":18,"type":"Numeric"},{"name":"KQ_Id__c","nullable":true,"type":"Varchar"},{"name":"cdp_sys_SourceVersion__c","nullable":true,"type":"Varchar"},{"name":"CreatedDate__c","nullable":true,"type":"TimestampTZ"},{"name":"SfdcOrganizationId__c","nullable":true,"type":"Varchar"},{"name":"DataSource__c","nullable":true,"type":"Varchar"},{"name":"DataSourceObject__c","nullable":true,"type":"Varchar"},{"name":"Id__c","nullable":false,"type":"Varchar"},{"name":"IsoCode__c","nullable":true,"type":"Varchar"},{"name":"LastModifiedDate__c","nullable":true,"type":"TimestampTZ"}],"returnedRows":1,"status":{"chunkCount":1,"completionStatus":"ResultsProduced","expirationTime":"","progress":1.0,"queryId":"MTAuMjQuNDguMTkwOjc0ODQ_3ea3341d-1ce8-66a6-1749-3a9c3a0885e4","rowCount":1}}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            Sforce-Limit-Info:
                - api-usage=23/441450
            X-Sfdc-Request-Id:
                - 2b3455c32878a7225bda65fee901d413
        status: 201 Created
        code: 201
        duration: 801.720667ms
    - id: 2
      request:
        host: storm-050b6314da1346.my.salesforce.com
        form:
            offset:
                - "0"
            rowLimit:
                - "3"
        headers:
            Content-Type:
                - application/json
        url: https://storm-050b6314da1346.my.salesforce.com/services/data/v64.0/ssot/query-sql/MTAuMjQuNDguMTkwOjc0ODQ_3ea3341d-1ce8-66a6-1749-3a9c3a0885e4/rows?offset=0&rowLimit=3
        method: GET
      response:
        body: '{"data":[["true","005Wt0000045LMTIA2","true","005Wt0000045LMTIA2","2025-06-27T18:16:54+00:00",1.000000000000000000,2.000000[...]
