---
version: 2
interactions:
    - id: 0
      request:
        host: storm-050b6314da1346.my.salesforce.com
        headers:
            Content-Type:
                - application/json
        url: https://storm-050b6314da1346.my.salesforce.com/services/data/v64.0/ssot/data-lake-objects/sftest_profile__dll
        method: DELETE
      response:
        body: '[{"errorCode":"INVALID_INPUT","message":"Please provide a valid recordId of type DataLakeObjectInstance or a valid developerName for a Data Lake Object."}]'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            Sforce-Limit-Info:
                - api-usage=5/441450
            X-Sfdc-Request-Id:
                - 0e03a34afa258c5f1e9a48f6e8e49fbd
        status: 404 Not Found
        code: 404
        duration: 226.229791ms
    - id: 1
      request:
        host: storm-050b6314da1346.my.salesforce.com
        body: |
            {"name":"sftest_profile__dll","label":"sftest Profile DLO","category":"Profile","dataLakeFieldInputRepresentations":[{"name":"id__c","label":"ID","dataType":"Text","isPrimaryKey":"true"},{"name":"first_name__c","label":"First Name","dataType":"Text","isPrimaryKey":"false"},{"name":"email__c","label":"Email","dataType":"Email","isPrimaryKey":"false"},{"name":"is_active__c","label":"Is Active","dataType":"Boolean","isPrimaryKey":"false"},{"name":"total_spent__c","label":"Total Spent","dataType":"Number","isPrimaryKey":"false"}],"dataspaceInfo":null,"orgUnitIdentifierFieldName":"","recordModifiedFieldName":""}
        headers:
            Content-Type:
                - application/json
        url: https://storm-050b6314da1346.my.salesforce.com/services/data/v64.0/ssot/data-lake-objects
        method: POST
      response:
        body: '{"capabilities":{},"category":"Profile","createdDate":"2026-03-11T12:47:54.000Z","dataLakeFieldInfoRepresentation":[{"dataType":"Text","isPrimaryKey":false,"label":"KQ_id","name":"KQ_id__c"},{"dataType":"Text","isPrimaryKey":true,"label":"ID","name":"id__c"},{"dataType":"Text","isPrimaryKey":false,"label":"First Name","name":"first_name__c"},{"dataType":"Email","isPrimaryKey":false,"label":"Email","name":"email__c"},{"dataType":"Boolean","isPrimaryKey":false,"label":"Is Active","name":"is_active__c"},{"dataType":"Number","isPrimaryKey":false,"label":"Total Spent","name":"total_spent__c"},{"dataType":"Text","isPrimaryKey":false,"label":"cdp_sys_SourceVersion","name":"cdp_sys_SourceVersion__c"},{"dataType":"Text","isPrimaryKey":false,"label":"Data Source","name":"DataSource__c"},{"dataType":"Text","isPrimaryKey":false,"label":"Data Source Object","name":"DataSourceObject__c"},{"dataType":"Text","isPrimaryKey":false,"label":"Internal Organization","name":"InternalOrganization__c"}],"dataSpaceInfo":[],"fields":[{"dataType":"Text","isPrimaryKey":false,"label":"KQ_id","name":"KQ_id__c"},{"dataType":"Text","isPrimaryKey":true,"label":"ID","name":"id__c"},{"dataType":"Text","isPrimaryKey":false,"label":"First Name","name":"first_name__c"},{"dataType":"Email","isPrimaryKey":false,"label":"Email","name":"email__c"},{"dataType":"Boolean","isPrimaryKey":false,"label":"Is Active","name":"is_active__c"},{"dataType":"Number","isPrimaryKey":false,"label":"Total Spent","name":"total_spent__c"},{"dataType":"Text","isPrimaryKey":false,"label":"cdp_sys_SourceVersion","name":"cdp_sys_SourceVersion__c"},{"dataType":"Text","isPrimaryKey":false,"label":"Data Source","name":"DataSource__c"},{"dataType":"Text","isPrimaryKey":false,"label":"Data Source Object","name":"DataSourceObject__c"},{"dataType":"Text","isPrimaryKey":false,"label":"Internal Organization","name":"InternalOrganization__c"}],"id":"1dlWt000000nUwDIAU","label":"sftest Profile DLO","name":"sftest_profile__dll","namespace":"","status":"PROCESSING"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            Sforce-Limit-Info:
                - api-usage=4/441450
            X-Sfdc-Request-Id:
                - a7c8a8c4e760dcf61aaef9b5edf7faf8
        status: 201 Created
        code: 201
        duration: 2.489782208s
    - id: 2
      request:
        host: storm-050b6314da1346.my.salesforce.com
        headers:
            Content-Type:
                - application/json
        url: https://storm-050b6314da1346.my.salesforce.com/services/data/v64.0/ssot/data-lake-objects/sftest_profile__dll
        method: GET
      response:
        body: '{"dataLakeObjects":[{"capabilities":{},"category":"Profile","createdDate":"2026-03-11T12:47:54.000Z","dataLakeFieldInfoRepresentation":[{"dataType":"Text","isPrimaryKey":false,"label":"KQ_id","name":"KQ_id__c"},{"dataType":"Text","isPrimaryKey":true,"label":"ID","name":"id__c"},{"dataType":"Text","isPrimaryKey":false,"label":"First Name","name":"first_name__c"},{"dataType":"Email","isPrimaryKey":false,"label":"Email","name":"email__c"},{"dataType":"Boolean","isPrimaryKey":false,"label":"Is Active","name":"is_activ[...]
[...]
