---
version: 2
interactions:
    - id: 0
      request:
        host: storm-050b6314da1346.my.salesforce.com
        headers:
            Content-Type:
                - application/json
        url: https://storm-050b6314da1346.my.salesforce.com/services/data/v64.0/ssot/data-lake-objects/sftest_events__dll
        method: DELETE
      response:
        body: '[{"errorCode":"INVALID_INPUT","message":"Please provide a valid recordId of type DataLakeObjectInstance or a valid developerName for a Data Lake Object."}]'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            Sforce-Limit-Info:
                - api-usage=4/441450
            X-Sfdc-Request-Id:
                - cee8e61f9cd18f7d7e3f2c37fdb3f23c
        status: 404 Not Found
        code: 404
        duration: 311.218875ms
    - id: 1
      request:
        host: storm-050b6314da1346.my.salesforce.com
        body: |
            {"name":"sftest_events__dll","label":"sftest Events DLO","category":"Engagement","dataLakeFieldInputRepresentations":[{"name":"event_id__c","label":"Event ID","dataType":"Text","isPrimaryKey":"true"},{"name":"customer_id__c","label":"Customer ID","dataType":"Text","isPrimaryKey":"false"},{"name":"event_type__c","label":"Event Type","dataType":"Text","isPrimaryKey":"false"},{"name":"event_ts__c","label":"Event Timestamp","dataType":"DateTime","isPrimaryKey":"false"}],"dataspaceInfo":null,"orgUnitIdentifierFieldName":"","recordModifiedFieldName":"","eventDateTimeFieldName":"event_ts__c"}
        headers:
            Content-Type:
                - application/json
        url: https://storm-050b6314da1346.my.salesforce.com/services/data/v64.0/ssot/data-lake-objects
        method: POST
      response:
        body: '{"capabilities":{},"category":"Engagement","createdDate":"2026-03-11T12:47:49.000Z","dataLakeFieldInfoRepresentation":[{"dataType":"Text","isPrimaryKey":false,"label":"KQ_event_id","name":"KQ_event_id__c"},{"dataType":"Text","isPrimaryKey":true,"label":"Event ID","name":"event_id__c"},{"dataType":"Text","isPrimaryKey":false,"label":"Customer ID","name":"customer_id__c"},{"dataType":"Text","isPrimaryKey":false,"label":"Event Type","name":"event_type__c"},{"dataType":"DateTime","isPrimaryKey":false,"label":"cdp_sys_PartitionDate","name":"cdp_sys_PartitionDate__c"},{"dataType":"DateTime","isPrimaryKey":false,"label":"Event Timestamp","name":"event_ts__c"},{"dataType":"Text","isPrimaryKey":false,"label":"cdp_sys_SourceVersion","name":"cdp_sys_SourceVersion__c"},{"dataType":"Text","isPrimaryKey":false,"label":"Data Source","name":"DataSource__c"},{"dataType":"Text","isPrimaryKey":false,"label":"Data Source Object","name":"DataSourceObject__c"},{"dataType":"Text","isPrimaryKey":false,"label":"Internal Organization","name":"InternalOrganization__c"}],"dataSpaceInfo":[],"eventDateTimeFieldName":"event_ts__c","fields":[{"dataType":"Text","isPrimaryKey":false,"label":"KQ_event_id","name":"KQ_event_id__c"},{"dataType":"Text","isPrimaryKey":true,"label":"Event ID","name":"event_id__c"},{"dataType":"Text","isPrimaryKey":false,"label":"Customer ID","name":"customer_id__c"},{"dataType":"Text","isPrimaryKey":false,"label":"Event Type","name":"event_type__c"},{"dataType":"DateTime","isPrimaryKey":false,"label":"cdp_sys_PartitionDate","name":"cdp_sys_PartitionDate__c"},{"dataType":"DateTime","isPrimaryKey":false,"label":"Event Timestamp","name":"event_ts__c"},{"dataType":"Text","isPrimaryKey":false,"label":"cdp_sys_SourceVersion","name":"cdp_sys_SourceVersion__c"},{"dataType":"Text","isPrimaryKey":false,"label":"Data Source","name":"DataSource__c"},{"dataType":"Text","isPrimaryKey":false,"label":"Data Source Object","name":"DataSourceObject__c"},{"dataType":"Text","isPrimaryKey":false,"label":"Internal Organization","name":"InternalOrganization__c"}],"id":"1dlWt000000nUubIAE","label":"sftest Events DLO","name":"sftest_events__dll","namespace":"","status":"PROCESSING"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            Sforce-Limit-Info:
                - api-usage=4/441450
            X-Sfdc-Request-Id:
                - cef186a76b4029f0bd1be85ac14cb00c
        status: 201 Created
        code: 201
        duration: 3.174561708s
[...]
