---
version: 2
interactions:
    - id: 0
      request:
        host: storm-050b6314da1346.my.salesforce.com
        form:
            entityCategory:
                - Profile
        headers:
            Content-Type:
                - application/json
        url: https://storm-050b6314da1346.my.salesforce.com/services/data/v64.0/ssot/metadata?entityCategory=Profile
        method: GET
      response:
        body: '{"metadata":[{"fields":[{"name":"cdp_sys_SourceVersion__c","displayName":"cdp_sys_SourceVersion","type":"STRING","businessType":"TEXT"},{"name":"count_lifetime_orders__c","displayName":"count_lifetime_orders__c","type":"NUMBER","businessType":"NUMBER"},{"name":"customer_id__c","displayName":"customer_id__c","type":"STRING","keyQualifier":"KQ_customer_id__c","businessType":"TEXT"},{"name":"DataSource__c","displayName":"Data Source","type":"STRING","businessType":"TEXT"},{"name":"DataSourceObject__c","displayName":"Data Source Object","type":"STRING","businessType":"TEXT"},{"name":"first_ordered_at__c","displayName":"first_ordered_at__c","type":"DATE_TIME","businessType":"DATE_TIME"},{"name":"InternalOrganization__c","displayName":"Internal Organization","type":"STRING","businessType":"TEXT"},{"name":"is_repeat_buyer__c","displayName":"is_repeat_buyer__c","type":"BOOLEAN","businessType":"BOOLEAN"},{"name":"KQ_customer_id__c","displayName":"KQ_customer_id","type":"STRING","businessType":"TEXT"},{"name":"last_ordered_at__c","displayName":"last_ordered_at__c","type":"DATE_TIME","businessType":"DATE_TIME"},{"name":"lifetime_spend__c","displayName":"lifetime_spend__c","type":"NUMBER","businessType":"NUMBER"},{"name":"lifetime_spend_pretax__c","displayName":"lifetime_spend_pretax__c","type":"NUMBER","businessType":"NUMBER"},{"name":"lifetime_tax_paid__c","displayName":"lifetime_tax_paid__c","type":"NUMBER","businessType":"NUMBER"}],"category":"Profile","name":"customer_orders_summary__dll","displayName":"customer_orders_summary__dll","primaryKeys":[{"name":"customer_id__c","displayName":"customer_id__c","indexOrder":"1"}]},{"fields":[{"name":"cdp_sys_SourceVersion__c","displayName":"cdp_sys_SourceVersion","type":"STRING","businessType":"TEXT"},{"name":"CustomerId_child__c","displayName":"CustomerId_child__c","type":"STRING","keyQualifier":"KQ_CustomerId_child__c","businessType":"TEXT"},{"name":"DataSource__c","displayName":"Data Source","type":"STRING","businessType":"TEXT"},{"name":"DataSourceObject__c","displayName":"Data Source Object","type":"STRING","businessType":"TEXT"},{"name":"InternalOrganization_[...]
