---
version: 2
interactions:
    - id: 0
      request:
        host: storm-050b6314da1346.my.salesforce.com
        headers:
            X-Salesforce-Partner-Name:
                - dbt_labs
        url: https://storm-050b6314da1346.my.salesforce.com/services/data/v64.0/ssot/data-transforms/flow_test_create_run_transform/actions/cancel
        method: POST
      response:
        body: |-
            {
              "errors": [
                {
                  "errorCode": "NOT_FOUND",
                  "message": "Transform flow_test_create_run_transform not found.If the transform is present in a non-default dataspace, search the transform in this way - [dataspace&#39;s prefix]_[transform&#39;s API name]."
                }
              ],
              "success": false
            }
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            Sforce-Limit-Info:
                - api-usage=201/441450
            X-Sfdc-Request-Id:
                - f0547d019b8299e1521578d50e3d1d3a
        status: 201 Created
        code: 201
        duration: 506.10825ms
    - id: 1
      request:
        host: storm-050b6314da1346.my.salesforce.com
        headers:
            X-Salesforce-Partner-Name:
                - dbt_labs
        url: https://storm-050b6314da1346.my.salesforce.com/services/data/v64.0/ssot/data-transforms/flow_test_create_run_transform
        method: DELETE
      response:
        body: |-
            [
              {
                "errorCode": "ITEM_NOT_FOUND",
                "message": "Transform flow_test_create_run_transform not found.If the transform is present in a non-default dataspace, search the transform in this way - [dataspace's prefix]_[transform's API name]."
              }
            ]
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            Sforce-Limit-Info:
                - api-usage=201/441450
            X-Sfdc-Request-Id:
                - 482996d69332474483877dbf6a5e7f6a
        status: 404 Not Found
        code: 404
        duration: 205.699375ms
    - id: 2
      request:
        host: storm-050b6314da1346.my.salesforce.com
        headers:
            X-Salesforce-Partner-Name:
                - dbt_labs
        url: https://storm-050b6314da1346.my.salesforce.com/services/data/v64.0/ssot/data-lake-objects/flow_test_create_run__dll
        method: DELETE
      response:
        body: ""
        headers:
            Sforce-Limit-Info:
                - api-usage=201/441450
            X-Sfdc-Request-Id:
                - ae77fd1574c36e43a7c1e48319c9d5c1
        status: 204 No Content
        code: 204
        duration: 1.5342215s
    - id: 3
      request:
        host: storm-050b6314da1346.my.salesforce.com
        headers:
            X-Salesforce-Partner-Name:
                - dbt_labs
        url: https://storm-050b6314da1346.my.salesforce.com/services/data/v64.0/ssot/data-lake-objects/flow_test_create_run__dll
        method: GET
      response:
        body: |-
            {
              "dataLakeObjects": [
                {
                  "capabilities": {},
                  "category": "Profile",
                  "createdDate": "2026-03-16T18:10:54.000Z",
                  "dataLakeFieldInfoRepresentation": [
                    {
                      "dataType": "Text",
                      "isPrimaryKey": false,
                      "label": "KQ_primary_key",
                      "name": "KQ_primary_key__c"
                    },
                    {
                      "dataType": "Text",
                      "isPrimaryKey": true,
                      "label": "primary_key__c",
                      "name": "primary_key__c"
                    },
                    {
                      "dataType": "Text",
                      "isPrimaryKey": false,
                      "label": "fieldtype_Text__c",
                      "name": "fieldtype_Text__c"
                  [...]
[...]
    - id: 10
      request:
        host: storm-050b6314da1346.my.salesforce.com
        body: |
            {
              "name": "flow_test_create_run_transform",
              "label": "flow_test_create_run_transform",
              "type": "BATCH",
              "definition": {
                "type": "DCSQL",
                "version": "1.0",
                "manifest": {
                  "nodes": {
                    "node_flow_test_create_run__dll": {
                      "name": "flow_test_create_run__dll",
                      "relation_name": "flow_test_create_run__dll",
                      "config": {
                        "materialized": "table",
                        "writeMode": "OVERWRITE"
                      },
                      "compiled_code": "SELECT primary_key__c, fieldtype_Text__c FROM test_all_field_types__dll"
                    }
                  }
                }
              },
              "dataSpaceName": "default"
            }
        headers:
            Content-Type:
                - application/json
            X-Salesforce-Partner-Name:
                - dbt_labs
        url: https://storm-050b6314da1346.my.salesforce.com/services/data/v64.0/ssot/data-transforms-validation
        method: POST
      response:
        body: |-
            {
              "issues": [
                {
                  "errorCode": "TARGET_DLO_NOT_FOUND",
                  "errorMessage": "Target Dlo not found.",
                  "errorSeverity": "ERROR"
                },
                {
                  "errorCode": "TARGET_DLO_NOT_FOUND",
                  "errorMessage": "Target Dlo not found.",
                  "errorSeverity": "ERROR"
                }
              ],
              "outputDataObjects": {
                "flow_test_create_run_transform": [
                  {
                    "fields": [
                      {
                        "isPrimaryKey": false,
                        "name": "primary_key__c",
                        "type": "Text"
                      },
                      {
                        "isPrimaryKey": false,
                        "name": "fieldtype_Text__c",
                        "type": "Text"
                      }
                    ],
                    "name": "flow_test_create_run__dll",
                    "type": "dataLakeObject"
                  }
                ]
              }
            }
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            Sforce-Limit-Info:
                - api-usage=203/441450
            X-Sfdc-Request-Id:
                - 104da9241c8021a45cd1f7971ec21c61
        status: 201 Created
        code: 201
        duration: 1.584271625s
    - id: 11
      request:
        host: storm-050b6314da1346.my.salesforce.com
        body: |
            {
              "name": "flow_test_create_run_transform",
              "label": "flow_test_create_run_transform",
              "type": "BATCH",
              "definition": {
                "type": "DCSQL",
                "version": "1.0",
                "manifest": {
                  "nodes": {
                    "node_flow_test_create_run__dll": {
                      "name": "fl[...]
    - id: 12
      request:
        host: storm-050b6314da1346.my.salesforce.com
        headers:
            X-Salesforce-Partner-Name:
                - dbt_labs
        url: https://storm-050b6314da1346.my.salesforce.com/services/data/v64.0/ssot/data-transforms/flow_test_create_run_transform
        method: GET
      response:
        body: |-
            {
              "actionUrls": {
                "action": "DcSqlBatchAction",
                "cancelAction": "/services/data/v64.0/ssot/data-transforms/flow_test_create_run_transform/actions/cancel",
                "refreshStatusAction": "/services/data/v64.0/ssot/data-transforms/flow_test_create_run_transform/actions/refresh-status",
                "retryAction": "/services/data/v64.0/ssot/data-transforms/flow_test_create_run_transform/actions/retry",
                "runAction": "/services/data/v64.0/ssot/data-transforms/flow_test_create_run_transform/actions/run"
              },
              "createdBy": {
                "id": "005Wt000004lBfIIAU",
                "name": "Chase Walden",
                "profilePhotoUrl": "https://storm-050b6314da1346.file.force.com/profilephoto/005/T"
              },
              "createdDate": "2026-03-16T18:22:46.000Z",
              "creationType": "CUSTOM",
              "dataSpaceName": "default",
              "definition": {
                "manifest": {
                  "macros": {},
                  "nodes": {
                    "node_flow_test_create_run__dll": {
                      "compiled_code": "SELECT primary_key__c, fieldtype_Text__c FROM test_all_field_types__dll",
                      "config": {
                        "materialized": "table",
                        "writeMode": "OVERWRITE"
                      },
                      "name": "flow_test_create_run__dll",
                      "relation_name": "flow_test_create_run__dll"
                    }
                  },
                  "sources": {}
                },
                "outputDataObjects": [
                  {
                    "category": "Profile",
                    "createdDate": "2026-03-16T18:22:43.000Z",
                    "fields": [
                      {
                        "isPrimaryKey": true,
                        "keyQualifierField": "KQ_primary_key",
                        "label": "primary_key__c",
                        "name": "primary_key__c",
                        "type": "Text"
                      },
                      {
                        "isPrimaryKey": false,
                        "keyQualifierField": "KQ_fieldtype_Text",
                        "label": "fieldtype_Text__c",
                        "name": "fieldtype_Text__c",
                        "type": "Text"
                      }
                    ],
                    "id": "0gOWt000000eI9VMAU",
                    "label": "flow_test_create_run__dll",
                    "lastModifiedDate": "2026-03-16T18:22:45.000Z",
                    "name": "flow_test_create_run__dll",
                    "status": "processing",
                    "type": "dataLakeObject"
                  }
                ],
                "type": "DCSQL"
              },
              "id": "1dtWt000000q5bVIAQ",
              "label": "flow_test_create_run_transform",
              "lastModifiedBy": {
                "id": "005Wt000004lBfIIAU",
                "name": "Chase Walden",
                "profilePhotoUrl": "https://storm-050b6314da1346.file.force.com/profilephoto/005/T"
              },
              "lastModifiedDate": "2026-03-16T18:22:46.000Z",
              "lastRunStatus": "NONE",
              "name": "flow_test_create_run_transform",
              "status": "PROCESSING",
              "type": "BATCH",
              "url": "/services/data/v64.0/ssot/data-transforms/flow_test_create_run_transform"
            }
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            Sforce-Limit-Info:
                - api-usage=204/441450
            X-Sfdc-Edge-Cache:
                - MISS
            X-Sfdc-Request-Id:
                - b3a091ea9c48c182d569892fe8577879
        status: 200 OK
        code: 200
        duration: 393.678625ms
[...]
    - id: 18
      request:
        host: storm-050b6314da1346.my.salesforce.com
        headers:
            X-Salesforce-Partner-Name:
                - dbt_labs
        url: https://storm-050b6314da1346.my.salesforce.com/services/data/v64.0/ssot/data-transforms/flow_test_create_run_transform/actions/run
        method: POST
      response:
        body: |-
            {
              "errors": [],
              "shouldForceFullRun": false,
              "success": true
            }
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            Sforce-Limit-Info:
                - api-usage=207/441450
            X-Sfdc-Request-Id:
                - f1212b36ee2ca44ed19d41b716f0c121
        status: 201 Created
        code: 201
        duration: 547.770625ms
    - id: 19
      request:
        host: storm-050b6314da1346.my.salesforce.com
        headers:
            X-Salesforce-Partner-Name:
                - dbt_labs
        url: https://storm-050b6314da1346.my.salesforce.com/services/data/v64.0/ssot/data-transforms/flow_test_create_run_transform/actions/refresh-status
        method: POST
      response:
        body: |-
            {
              "errors": [],
              "success": true
            }
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            Sforce-Limit-Info:
                - api-usage=208/441450
            X-Sfdc-Request-Id:
                - cca5b7273381c1714616e2eae52ef056
        status: 201 Created
        code: 201
        duration: 294.028542ms
[...]
