# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

name: Go

on:
  pull_request:
    branches:
      - main
    paths:
      - "adbc.h"
      - "c/driver_manager/**"
      - "go/adbc/**"
      - ".github/workflows/go.yml"
  push:
    paths:
      - "adbc.h"
      - "c/driver_manager/**"
      - "go/adbc/**"
      - ".github/workflows/go.yml"

concurrency:
  group: ${{ github.repository }}-${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  go-no-cgo:
    name: "${{ matrix.os}} - No CGO"
    env:
      CGO_ENABLED: "0"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["macos-latest", "ubuntu-latest", "windows-latest"]
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          persist-credentials: false
      - uses: actions/setup-go@v3
        with:
          go-version-file: 'go/adbc/go.mod'
          check-latest: true
          cache: true
          cache-dependency-path: go/adbc/go.sum
      - name: Install staticcheck
        run: go install honnef.co/go/tools/cmd/staticcheck@latest
      - name: Go Build
        run: |
          pushd go/adbc
          go build -v ./...
          popd
      - name: Run Staticcheck
        run: |
          pushd go/adbc
          staticcheck -f stylish ./...
          popd
      - name: Go Test
        run: |
          pushd go/adbc
          go test -v ./...
          popd

  go-driver-mgr-unix:
    name: "${{ matrix.os }} - CGO driver mgr"
    runs-on: ${{ matrix.os }}
    env:
      CGO_ENABLED: "1"
    strategy:
      matrix:
        os: ["macos-latest", "ubuntu-latest"]
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          persist-credentials: false
      - uses: actions/setup-go@v3
        with:
          go-version: 1.18.6
          check-latest: true
          cache: true
          cache-dependency-path: go/adbc/go.sum
      - name: Get Date
        id: get-date
        shell: bash
        run: |
          echo "::set-output name=today::$(/bin/date -u '+%Y%m%d')"
      - name: Cache Conda
        uses: actions/cache@v2
        env:
          # Increment this to reset cache manually
          CACHE_NUMBER: 0
        with:
          path: ~/conda_pkgs_dir
          key: conda-${{ runner.os }}-${{ steps.get-date.outputs.today }}-${{ env.CACHE_NUMBER }}-${{ hashFiles('ci/**') }}
      - uses: conda-incubator/setup-miniconda@v2
        with:
          miniforge-variant: Mambaforge
          miniforge-version: latest
          use-mamba: true
          # Required for caching
          use-only-tar-bz2: true
      - name: Install Dependencies
        shell: bash -l {0}
        run: |
          mamba install --file ci/conda_env_cpp.txt --file ci/conda_env_python.txt
      - name: Build SQLite3 Driver
        shell: bash -l {0}
        run: |
          mkdir -p build/driver_sqlite
          pushd build/driver_sqlite
          cmake ../../c/drivers/sqlite \
            -DADBC_BUILD_SHARED=ON \
            -DADBC_BUILD_STATIC=OFF \
            -DADBC_BUILD_TESTS=OFF \
            -DCMAKE_BUILD_TYPE=Debug \
            -DCMAKE_INSTALL_LIBDIR=lib \
            -DCMAKE_INSTALL_PREFIX=$HOME/local \
            -DCMAKE_PREFIX_PATH=$CONDA_PREFIX
          cmake --build . --target install
          popd      
      - name: Install staticcheck
        shell: bash -l {0}
        if: ${{ !contains('macos-latest', matrix.os) }}
        run: go install honnef.co/go/tools/cmd/staticcheck@latest
      - name: Go Build
        shell: bash -l {0}
        run: |
          pushd go/adbc
          export PATH=$RUNNER_TOOL_CACHE/go/1.18.6/x64/bin:$PATH
          export LD_LIBRARY_PATH=$HOME/local/lib
          export DYLD_LIBRARY_PATH=$HOME/local/lib
          go build -v ./...
          popd
      - name: Run Staticcheck
        if: ${{ !contains('macos-latest', matrix.os) }}
        shell: bash -l {0}
        run: |
          pushd go/adbc
          staticcheck -f stylish ./...
          popd      
      - name: Go Test
        shell: bash -l {0}
        run: |
          pushd go/adbc
          export PATH=$RUNNER_TOOL_CACHE/go/1.18.6/x64/bin:$PATH
          export LD_LIBRARY_PATH=$HOME/local/lib
          export DYLD_LIBRARY_PATH=$HOME/local/lib          
          go test -exec "env DYLD_LIBRARY_PATH=$DYLD_LIBRARY_PATH" -v ./...
          popd
